@import'mixins.scss';


body {
  font-family: Space Grotesk;
}


.wrapper {
  margin: 0 auto;
  padding: 0 100px;
  text-align: center;
  width: 1240px;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;

  a {
    color: black;
    border: solid transparent;
    border-radius: 14px;
    transition: padding 0.3s ease, border 0.3s ease;
    padding: 10px 10px;


    &:hover {
      border: solid black;
      border-radius: 14px;
      padding: 20px 35px;
      transition: padding 0.3s ease;
    }
  }
}

.mainpage {
  text-align: left;
  height: 550px;
  background: no-repeat right / auto url(svg/megaphone.svg);

  .maintext {
    @include leftdiv(481px, 531px, 20px);
  }
}

h1 {
  font-size: 60px;
}

ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.partners ul {
  margin: 120px auto;
  display: flex;
  gap: 96px;
  padding: 0;
}


ul li img {
  filter: grayscale(100%);
  transition: filter 0.3s ease;


  &:hover {
    filter: grayscale(0%);
  }
}

.button {
  background-color: rgb(25, 26, 35);
  color: rgb(255, 255, 255);
  font-size: 20px;
  border: 1px solid;
  border-radius: 14px;
  max-width: 264px;
  max-height: 68px;
  padding: 20px 35px;

  &:hover {
    background-color: rgba(185, 255, 102, 1);
    color: black;
    border-color: rgb(25, 26, 35);
    border: 1px solid;
    transition: all 0.3s ease;
    font-weight: 400px;

  }
}

a {
  text-decoration: none;
}

.container-link {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;

}

.optimization {
  @include cardStyles;
  @include neongray(background-color);

  p {
    @include neongreen(background-color)
  }
}

.ppclick {
  @include neongreen(background-color);
  @include cardStyles;

  p {
    background-color: white;
  }
}

.sm-marketing {
  @include cardStyles;
  @include neonblack(background-color);

  .symbol {
    color: white;

  }

  p {
    background-color: white;

  }}

  .email-marketing {
    @include cardStyles;
    @include neongray(background-color);

    p {
      @include neongreen(background-color)
    }
  }

  .content {
    @include neongreen(background-color);
    @include cardStyles;

    p {
      background-color: white;
      background-clip: content-box;
    }
  }

  .tracking {
    @include cardStyles;
    @include neonblack(background-color);

    .symbol {
      color: white;
    }

    p {
      @include neongreen(background-color);
    }
  }

  .serv-head {
    @include headers;
  }

  .case-head {
    @include headers;

  }
  .process-head {
    @include headers;
  }

  .proposal {
    background: rgba(243, 243, 243, 1) no-repeat right / auto;
    height: 347px;
    margin: 123px auto;
    padding: 0 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 45px;


    .text-container {
      max-width: 500px;
      text-align: left;
      display: flex;
      flex-wrap: wrap;
      font-size: 18px;

      h3 {
        font-size: 30px;
      }

    }

    .image-container {
      max-width: 494px;
    }
  }
.case-link {
  display: flex;
  gap: 20px;
  @include neonblack(background-color);
  color: white;
  border-radius: 45px; 
  font-size: 20px;

  div {
    border-right: solid white;
    padding: 65px;
    text-align: left;
   
   img {
    padding-top: 20px;
    width: 200px;
    
    transition: transform 0.3s ease; 
  
    &:hover {
      animation: pulse 1s infinite; 
    }
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1); 
    }
    50% {
      transform: scale(1.05);
      padding-left: 5px;
    }
    100% {
      transform: scale(1); 
    }
  
   }
  }
}
.consultation {
  @include neongreen(background-color);
  border: solid black 1px;
  border-bottom: 5px solid black;
  border-radius: 45px;
  text-align: left;
  padding: 60px;
  box-sizing: border-box;
  font-size: 18px;
  h3 {
    border-bottom: solid black;
    font-size: 30px;
    padding-bottom: 30px;
  }
  span {
    font-size: 60px;
    font-weight: 500px;
    padding-right: 20px;
  }
}